---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Boti - Gestiona tus gastos fácilmente">
  <main>
	<p class="bot">🤖</p>
    <h1>Boti - Tu asistente financiero en WhatsApp</h1>
    <p class="instructions">
      Con Boti, puedes registrar, gestionar y consultar tus gastos de manera
      fácil. Simplemente envía un mensaje y Boti se encargará de llevar el
      control de tus finanzas.
    </p>

    <!-- Botón para iniciar el chat en WhatsApp -->
    <a href="https://wa.me/13524493576" class="btn-whatsapp" target="_blank"
      >Hablar con Boti</a
    >
  </main>
</Layout>

<!-- Estilos personalizados -->
<style>
  .bot {
    font-size: 120px;
    margin: 0;
  }
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
  .instructions {
    text-align: center;
    margin-bottom: 2rem;
  }
  .btn-whatsapp {
    display: block;
    margin: 0 auto 2rem;
    background-color: #25d366;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.25rem;
  }
  .btn-whatsapp:hover {
    background-color: #1da851;
  }
  section {
    margin-bottom: 2rem;
  }
  .contact-info {
    text-align: center;
  }
</style>
